<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuthServices</key>
	<array>
		<dict>
			<key>key</key>
			<string>qqmb</string>
			<key>title</key>
			<string>腾讯微博</string>
			<key>name</key>
			<string>TXWeiboSharer</string>
			<key>oauthType</key>
			<string>1</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/access_token</string>
			<key>authorizeURL</key>
			<string>https://open.t.qq.com/cgi-bin/authorize</string>
			<key>requestTokenURL</key>
			<string>https://open.t.qq.com/cgi-bin/request_token</string>
			<key>callbackURL</key>
			<string>http://127.0.0.1/success.html</string>
		</dict>
		<dict>
			<key>key</key>
			<string>weibo</string>
			<key>title</key>
			<string>新浪微博</string>
			<key>name</key>
			<string>SinaWeiboSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>http://api.t.sina.com.cn/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.t.sina.com.cn/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.t.sina.com.cn/oauth/request_token</string>
			<key>callbackURL</key>
			<string>http://SYPDemo.com</string>
		</dict>
		<dict>
			<key>key</key>
			<string>sohumb</string>
			<key>title</key>
			<string>搜狐微博</string>
			<key>name</key>
			<string>SouhuWeiboSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>http://api.t.sohu.com/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.t.sohu.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.t.sohu.com/oauth/request_token</string>
			<key>callbackURL</key>
			<string>oob</string>
		</dict>
		<dict>
			<key>key</key>
			<string>neteasemb</string>
			<key>title</key>
			<string>网易微博</string>
			<key>name</key>
			<string>WYWeiboSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>isMore</key>
			<true/>
			<key>accessTokenURL</key>
			<string>http://api.t.163.com/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.t.163.com/oauth/authenticate</string>
			<key>requestTokenURL</key>
			<string>http://api.t.163.com/oauth/request_token</string>
			<key>callbackURL</key>
			<string>http://127.0.0.1/success.html</string>
		</dict>
		<dict>
			<key>key</key>
			<string>kaixin</string>
			<key>title</key>
			<string>开心网</string>
			<key>name</key>
			<string>KaixinSharer</string>
			<key>oauthType</key>
			<string>0</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>http://api.kaixin001.com/oauth/access_token</string>
			<key>authorizeURL</key>
			<string>http://api.kaixin001.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string>http://api.kaixin001.com/oauth/request_token</string>
			<key>callbackURL</key>
			<string>http://127.0.0.1/success.html</string>
		</dict>
		<dict>
			<key>key</key>
			<string>renren</string>
			<key>title</key>
			<string>人人网</string>
			<key>name</key>
			<string>RenRenSharer</string>
			<key>oauthType</key>
			<string>2</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string></string>
			<key>authorizeURL</key>
			<string>https://graph.renren.com/oauth/authorize</string>
			<key>requestTokenURL</key>
			<string></string>
			<key>callbackURL</key>
			<string>http://graph.renren.com/oauth/login_success.html</string>
		</dict>
		<dict>
			<key>key</key>
			<string>weibo2</string>
			<key>title</key>
			<string>新浪微博2</string>
			<key>name</key>
			<string>SinaWeiboSharer2</string>
			<key>oauthType</key>
			<string>2</string>
			<key>isMore</key>
			<false/>
			<key>accessTokenURL</key>
			<string>https://api.weibo.com/oauth2/access_token</string>
			<key>authorizeURL</key>
			<string>https://api.weibo.com/oauth2/authorize</string>
			<key>requestTokenURL</key>
			<string></string>
			<key>callbackURL</key>
			<string>http://SYPDemo.com</string>
		</dict>
	</array>
	<key>Actions</key>
	<array>
		<dict>
			<key>name</key>
			<string>SMS</string>
			<key>description</key>
			<string>短信分享</string>
			<key>isMore</key>
			<false/>
		</dict>
		<dict>
			<key>name</key>
			<string>Safari</string>
			<key>description</key>
			<string>在Safari中打开</string>
			<key>isMore</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Copy</string>
			<key>description</key>
			<string>复制</string>
			<key>isMore</key>
			<true/>
		</dict>
		<dict>
			<key>name</key>
			<string>Email</string>
			<key>description</key>
			<string>电子邮件</string>
			<key>isMore</key>
			<false/>
		</dict>
	</array>
	<key>TrackClickBack</key>
	<true/>
	<key>RedirectServices</key>
	<array>
		<dict>
			<key>title</key>
			<string>QZone</string>
			<key>name</key>
			<string>qzone</string>
		</dict>
		<dict>
			<key>title</key>
			<string>115收藏夹	</string>
			<key>name</key>
			<string>115</string>
		</dict>
		<dict>
			<key>title</key>
			<string>139社区	</string>
			<key>name</key>
			<string>139</string>
		</dict>
	</array>
</dict>
</plist>
